body {
  font-family: 'Segoe UI', sans-serif;
  text-align: center;
  background-color: #1e1e2f;
  color: #fff;
  margin: 0;
  padding: 20px;
}

h1 {
  margin-bottom: 10px;
}

#level-info, #timer {
  margin-bottom: 10px;
  font-size: 1.2em;
}

#phaseTimes {
  font-size: 0.9em;
  margin-bottom: 20px;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(5, 100px); /* 5 cartas por linha */
  gap: 10px;
  justify-content: center;
}

.card {
  width: 100px;
  height: 100px;
  background-color: #3f3f5f;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: transparent;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.3s;
}

.card.flipped {
  background-color: #61dafb;
  color: #000;
}

#message {
  margin-top: 20px;
  font-size: 1.2em;
}
